antlr4-python3-runtime==4.7.2
certifi==2018.11.29
CFGraph==0.2.1
chardet==3.0.4
idna==2.8
isodate==0.6.0
jsonasobj==1.2.1
mwoauth==0.3.5
numpy==1.17.2
oauthlib==3.1.0
pandas==0.25.1
pbr==5.4.3
PyJSG==0.9.0
PyJWT==1.7.1
pyparsing==2.3.1
PyShEx==0.7.12
PyShExC==0.5.4
python-dateutil==2.8.0
pytz==2019.3
rdflib==4.2.2
rdflib-jsonld==0.4.0
requests==2.21.0
requests-oauthlib==1.2.0
setuptools-scm==3.3.3
ShExJSG==0.6.5
simplejson==3.16.0
six==1.12.0
sparql-slurper==0.2.1
SPARQLWrapper==1.8.2
tqdm==4.36.1
urllib3==1.24.2
wikidataintegrator==0.4.2
